# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=a5e06a3f8c4ca3164fb7717bfd1cdc32238c5a99106ef9be0f22626ec0a8063f18b4cee8e305cd97b480681dbe739f5ecdd679d2187ff8855e7a55779a499299
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
